/* Custom List */

.custom-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-list li:not(:last-child) {
    margin-bottom: 12px;
}

.custom-list li::before {
    content: "—";
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
