/* Open Calculator */

.open-calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
    border: 2px solid var(--color-accent);
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: var(--duration-interval);
}

.open-calculator:hover {
    background-color: var(--color-accent);
}
