/* Services */

.services {
    margin-top: 146px;
}

.services__title {
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services__item {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    min-height: 70px;
    padding: 19px 40px 19px 25px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 16px;
    color: #030303;
    background-color: #f2f4f5;
}

.services__item::before {
    content: "";
    position: absolute;
    left: -14px;
    top: calc(50% - 14px);
    width: 28px;
    height: 28px;
    background: var(--color-accent);
    border: 4px solid var(--white);
    border-radius: 50%;
}
