/* Fonts */

/* Open Sans Regular */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-regular.woff2") format("woff2"),
    url("../fonts/opensans-regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Open Sans SemiBold */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-semibold.woff2") format("woff2"),
    url("../fonts/opensans-semibold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

/* Open Sans Bold */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-bold.woff2") format("woff2"),
    url("../fonts/opensans-bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* Lora Regular */
@font-face {
    font-family: "Lora";
    src: url("../fonts/lora-regular.woff2") format("woff2"),
    url("../fonts/lora-regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Lora Bold */
@font-face {
    font-family: "Lora";
    src: url("../fonts/lora-bold.woff2") format("woff2"),
    url("../fonts/lora-bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
